body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0d0d0d;
    color:white;
}

#login-screen{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#000,#4d0000,#990000);
}

.login-box{
    text-align:center;
    background:rgba(0,0,0,0.6);
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(255,0,0,0.5);
}

.login-box h1{
    color:#ff3b3b;
}

input{
    padding:12px;
    width:220px;
    border:none;
    border-radius:8px;
    margin-top:10px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#e50914;
    color:white;
    cursor:pointer;
    margin-top:10px;
}

header{
    padding:20px;
    font-size:28px;
    font-weight:bold;
    color:#ff3b3b;
}

.hero{
    text-align:center;
    padding:40px 20px;
}

.hero img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #ff3b3b;
    box-shadow:0 0 25px rgba(255,0,0,0.8);
}

.hero h2{
    margin-top:20px;
    color:#ff4d4d;
}

.category{
    padding:20px;
}

.cards{
    display:flex;
    gap:15px;
    overflow-x:auto;
}

.card{
    min-width:180px;
    height:100px;
    background:#1f1f1f;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 0 10px rgba(255,0,0,0.3);
}

.card:hover{
    transform:scale(1.05);
}
footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
    color:#ff6666;
    font-size:14px;
    border-top:1px solid rgba(255,255,255,0.1);
}
